.ficon img {
max-height: 190px;
display: block;
margin-left: auto;
margin-right: auto;
}

.colored {
background-color: #EAEFF2;
padding: 50px;
}

.mine {
color: #fff;
border-top: 1px solid #fff;
}

.col-md-4.mapdata {
margin-top: -200px;
background-color: #fff;
background-color: #fff;
-moz-box-shadow: inset 0 0 7px #DDDDDD;
-webkit-box-shadow: inset 0 0 7px #DDDDDD;
box-shadow: inset 0 0 7px #DDDDDD;
padding: 10px 55px;
border: 1px solid #E2DDD5;
}

.credit{
	padding-top: 30px;
}

a.carousel-control {
    outline: none;
}

/*  left: 50%;*/
/*	background: #fff;
  width: 1140px;
  margin-top: -52px;
  position: fixed;
  z-index:1;
  max-height: 148px;
overflow: hidden;*/
.snav.visible {
display: inline;
background: #fff;
margin-top: -52px;
position: fixed;
z-index: 1;
max-height: 117px;
}

.snav{
	background-color: #fff;
	display: none;
}

.col-lg-12.new.visible img {
padding-left: 240px;
}



.col-lg-9.tumb img {
padding-left: 16px;
}

.container.tumbs {
padding-bottom: 42px;
}

#tools {
padding-top: 14px;
}
 {
color: #999999;
font-size: 18px;
padding-left: 10px;
}

.org{
	padding-top: 47px;
}

.MozKFootr {
width: 5%;
height: 5%;
padding-bottom: 7px;
}

.logo {

margin-bottom: -85px;
z-index: 1;

}

.col-lg-6.date {
padding-top: 30px !important;
text-align: right;
padding-top: 8px;
}
.row.header {
	padding-top: 10px;
}

.col-lg-2.slogo img {
margin-top: 6px;
max-width: 91%;
}

.btn.btn-danger a {
color: white;
}

.col-md-5 > img {
    margin-top: -27px;
}