.ficon img {
max-height: 190px;
display: block;
margin-left: auto;
margin-right: auto;
}

.colored {
background-color: #EAEFF2;
padding: 50px;
height: 650px;
}

.mine {
color: #fff;
border-top: 1px solid #fff;
}

.col-lg-4 {
	text-align:	center;
	padding-top: 30px;
	padding-bottom: 30px;
}

.col-lg-5 {
	padding-top: 40px;
	padding-left: 50px;
}

.col-lg-6{
	text-align:	center;
	padding-top: 150px;
}

#logo {
	padding-left: 1150px;
	margin-bottom: -85px;
	z-index:1;
	position:fixed;
}

#tools{
  	font-size: 24px;
  	font-weight: 200;
  	line-height: 1.4;
	text-align: center;
  	margin-bottom: 100px;
}

.img{
	margin:20px 5px 20px 5px;
}

.wiki{
	width:100px;
	height:100px;
}

.html5, .css3{
	width:75px;
	height:100px;
}

.FXOS{
	width:90px;
	height:100px;
}

.foundation{
	width:175px;
	height:100px;
}

.thimble, .goggles{
	width:100px;
	height:100px;
}

.pop{
	margin-left:10px;
	width:75px;
	height:100px;
}

#ymozla{
	margin-top: 50px;
}

#fox{
	margin-top: 75px;
}

.col-md-5.mapdata {
margin-top: -200px;
background-color: #fff;
background-color: #fff;
-moz-box-shadow: inset 0 0 7px #DDDDDD;
-webkit-box-shadow: inset 0 0 7px #DDDDDD;
box-shadow: inset 0 0 7px #DDDDDD;
padding: 10px 55px;
border: 1px solid #E2DDD5;
}

.credit{
	padding-top: 30px;
}

a.carousel-control {
    outline: none;
}